<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
  <style>
    .counter{
    font-size:25px;
    font-weight:bold;
    text-align:center;
}
  </style>
</head>
<body>
​
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AVENTURA 2D</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">      
    </ul>
  </div>
</nav>

<!--<div onmouseover="contador()">
<div class="counter" data-target="250"><%=personas[0].usuario%></div>
<h3>Título</h3>
</div>

<p>Daticos obtenidos de queries</p>
<p><%=personas[0].usuario%></p>
<p>si pero yo tengo otros datos</p>
<div>
  <%personas.forEach((persona)=>{%>
    <p><%=persona.usuario%></p>
  <%});%>
</div>-->

<iframe src="https://public.tableau.com/views/Libro1_16191966273150/Dashboard1?:showVizHome=no&:embed=true"
 width="100%" height="700"></iframe>
<script>
  function contador() {
const counters = document.querySelectorAll('.counter');
const speed = 100;
counters.forEach(counter => {
const updateCount = () => {
const target = +counter.getAttribute('data-target');
const count = +counter.innerText;
const inc = target / speed;
if (count < target) {
counter.innerText = count + inc;
setTimeout(updateCount, 1);
} else {
counter.innerText = target;}};
updateCount();});}
</script>



</body>
</html>