<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aventura2D</a>
        </div>
        <ul class="nav navbar-nav">        
            <li class="active"><a href="#">Home</a></li>                    
        </ul>
        </div>
    </nav>

        <h1><%=sesion%></h1>
        <ol>
            <!--<li>usuario: Maria password:1234 edad:18</li>-->
            <%personas.forEach((persona)=>{%>
                <li>Usuario: <%=persona.usuario%> Password: <%=persona.contraseña%> 
                    correo: <%=persona.correo%> idLogro: <%=persona.idLogro%>
                    fechaRegistro: <%=persona.fechaRegistro%> Genero: <%=persona.genero%>
                    fechaDeNacimeinto: <%=persona.fechaDeNacimiento%>
                    profesion: <%=persona.profesion%> Estado: <%=persona.estado%></li>
            <%});%>
        </ol>
        <footer>

        </footer>
    </body>
</html>