body{
    background-color:#00a4a9; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clase1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    align-items: center;
    text-align: center;
    color:aliceblue;
    font-size:xx-large;
}